:root{
  --color-dark:#282c34;
  --color-grey:#6b6969;
  --color-green:#008000;
  --color-white:#f0ebeb;
}
* ,html{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
.App {
  text-align: center;
}
.App-header {
  background-color: var(--color-dark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-white);
}

input{

  position: relative;
  box-sizing: border-box;
  height: auto;
  display: block;
  width: 56vw;
  max-width: 69vw;
  padding: 15px;
}

 button {
   margin: .3rem 0rem;
  position: relative;
  background-color: #04f104;
  color: rgb(34, 86, 255);
  box-sizing: border-box;
  height: auto;
  display: block;
  width: 9rem;
  padding: 15px;
  font-size: 16px;
  border: 2px solid #30303054;
  border-radius: 2rem;
}