:root{
  --color-dark:#282c34;
  --color-grey:#6b6969;
  --color-green:#008000;
  --color-white:#f0ebeb;
}
* ,html{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
h1{
  text-align: center;
  color: var(--color-white);

}
form{
  width: 40vw;
  margin: 0 auto;
  border: 1px solid var(--color-grey);
  padding: 40px;
}
form h1{
  margin-bottom: 10px;
}
form input{
  width: 100%;
  font: 20px;
  border: 1px solid var(--color-dark);
  padding: 25px;
  margin-bottom: 25px;
  font-size: large;
  cursor: pointer;
}
form input[type="submit"]{
  border-radius: 10px;
  background-color: var(--color-grey);
  color: var(--color-white);
  font-weight: bolder;
  
}
.App {
  text-align: center;
}
.App-header {
  background-color: var(--color-dark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-white);
}


